@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  cursor: none;
}
/* 
.hidden-scrollbar::-webkit-scrollbar{
  visibility: hidden;
} */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 51, 51, 51;
  --background-end-rgb: 51, 51, 51;
}

body {
  color: rgb(var(--foreground-rgb));
}

.clicked{
  transform: scale(0.6)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
