@import './resources';

html::-webkit-scrollbar{
    display: none;
}

body{
    transition: background .2s ease;
    background-color: var(--background);
    .menu{
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 99;
        backdrop-filter: blur(5px);
        background-color: rgba(var(--background), 0.1);
        .menu-list{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            gap: 2em;
            padding: 1em 0;
            li{
                list-style:none;
                a{
                    border-radius: 0 0 2px 2px;
                    padding: 0 .2em;
                    text-decoration: none;
                    color: var(--font-color-dark);
                    font-family: $--font-family-spartan;
                    font-size: 1.5rem;
                    transition: color .2s ease;
                }
            }
            .active{
                border-bottom: 2px solid #a514c9!important;
            }
            @for $i from 2 through 5{
                li:nth-child(#{$i}){
                    list-style: disc;
                    color: #89399d;
                }
            }
        }
        .lenguage-changer{
            position: absolute;
            right: 36px;
            bottom: -55px;
            backdrop-filter: blur(5px);
            font-family: "League Spartan", sans-serif;
            .lenguage-changer-container{
                text-align: center;
                span{
                    font-weight: bolder;
                    color: var(--font-color-dark);
                    transition: color .2s ease;
                }
                .check{
                    position: relative;
                    width: 2em;
                    &::before{
                        content: "";
                        cursor: pointer;
                        position: absolute;
                        width: 2em;
                        height: 1em;
                        background-color: #a514c9;
                        border-radius: 25px;
                        transition: all .2s ease;
                    }
                    &::after{
                        content: "";
                        cursor: pointer;
                        position: absolute;
                        width: 1em;
                        height: 1em;
                        background-color: #fff;
                        border-radius: 25px;
                        transition: all .2s ease;
                        border: 1px solid #333;
                        box-sizing: border-box;
                    }
                    &:checked::before{
                        background-color: #a514c9;
                    }
                    &:checked::after{
                        content: "";
                        transform: translateX(1em);
                        border: 1px solid #333;
                    }
                }
            }
        }
        .night-mode-container{
            position: absolute;
            right: 54px;
            bottom: -103px;
            svg{
                color: var(--svg-color);
                height: 2em;
                width: 2em;
            }
        }
    }
    .banner{
        width: 100%;
        height: 100vh;
        margin-top: -4em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .name-position-container{
           text-align: center;
           margin-bottom: 1.5em;
           h1{
            color: var(--font-color-dark);
            transition: color .2s ease;
            font-size: 5vw;
            font-weight: 100;
            margin: 0;
            b{
                font-size: 6vw;
                margin: 0;
                font-family: $--font-family-kufam;
                color: var(--frontend-title);
                transition: color .2s ease;
            }
           }
           
        }
        .social-medias-container{
            text-align: center;
            .social-medias-svgs{
                display: flex;
                gap: 1em;
                margin-bottom: 1em;
                svg{
                    width: 2.5em;
                    height: 2.5em;
                    cursor: pointer;
                    fill: var(--svg-color);
                    transition: fill .2s ease;
                    &:hover{
                        fill: $--main-color-darker;
                    }
                }
            }
            .cv-downloader{
                a{
                    text-decoration: none;
                    width: 13em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 4em;
                    color: #ebebeb;
                    font-family: $--font-family-kufam;
                    border-radius: 5px;
                    background-color: $--main-color-darker;
                    transition: background .2s ease;
                    &:after{
                        content: '\2B73';
                        margin-left: .5em;
                        font-weight: bolder;
                    }
                    &:hover{
                        background-color: rgba($--main-color-darker, 0.8);
                    }
                }
            }
        }
    }
    main{
        .svg-top-separator{
            svg{
                transform: rotate(180deg);
                width: 100%;
                position: relative;
                bottom: -5px;
                fill: $--main-color;
            }
        }
        .main-content{
            background-color: $--main-color;
            color: var(--font-color);
            transition: color .2s ease;
            .about-container{
                .about-info{
                    padding: 5em 0;
                    h3{
                        font-family: $--font-family-kufam;
                        text-align: center;
                        font-size: 3em;
                        b{
                            color: #35163d;
                        }
                    }
                    .about-text-container{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        p{
                            font-family: $--font-family-spartan;
                            width: 70%;
                            font-size: 1.5rem;
                            .highlighted-word{
                                color: var(--highlighted-word);
                                transition: color .2s ease;
                                font-weight: 100;
                            }
                        }
                    }
                }
            }
        }
        .svg-bottom-separator{
            fill: $--main-color;
            svg{
                position: relative;
                top: -4px;
            }
        }

        .projects-section{
            width: 100%;
            padding: .5em 0;
            h3{
                color: var(--font-color-dark);
                font-family: $--font-family-kufam;
                text-align: center;
                font-size: 3em;
                padding-bottom: 1.5em;
                transition: color .2s ease;
                b{
                    color: #89399d;
                }
            }

            .projects-section-top,
            .projects-section-bottom{
                margin-bottom: 2em;
                a{
                    text-decoration: none;
                    width: calc(100% / 2.2);
                    .col{
                        height: 100%;
                        .card{
                            background: var(--card-background);
                            border: var(--card-border);
                            font-family: $--font-family-spartan;
                            font-size: 1.1rem;
                            view-timeline-name: --image;
                            view-timeline-axis: block;
                            animation-timeline: --image;
                            animation-name: show;
                            animation-range: entry 30% cover 50%;
                            animation-fill-mode: both;
                            cursor: pointer;
                            transition: transform .3s ease;
                            &:hover{
                                transform: scale(1.1);
                                &::before{
                                opacity: 1;
                                }
                            }
                            &::before{
                                content: "Ver el proyecto";
                                background-color: #1920464e;
                                color: #ebebeb;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                backdrop-filter: blur(2px);
                                opacity: 0;
                                width: 100%;
                                height: 100%;
                                transition: all .2s ease;
                            }
                            .card-body{
                                .card-title{
                                    color: var(--highlighted-card-word);
                                    transition: color .2s ease;
                                }
                                p{
                                    color: var(--font-color-dark);
                                    .highlighted-word{
                                        color: var(--highlighted-card-word);
                                        transition: color .2s ease;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .skills-section{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: .5em 0 1em 0;
            h3{
                color: var(--font-color-dark);
                font-family: $--font-family-kufam;
                text-align: center;
                border-top: 1px solid $--main-color;
                font-size: 3em;
                padding: 1em 1.5em;
                transition: color .2s ease;
                b{
                    color: #89399d;
                }
            }

            .skills-container{
                width: 100%;
                display: flex;
                justify-content: space-around;
                .soft-skills{
                    width: 47%;
                }
                .hard-skills{
                    width: 43%;
                }
                .hard-skills,
                .soft-skills{
                    h4{
                        text-align: center;
                        font-size: 2em;
                        padding-bottom: .5em;
                        font-style: italic;
                        color: var(--font-color-dark);
                        font-family: $--font-family-kufam;
                        transition: color .2s ease;
                    }
                }
                .hard-skills .list-container,
                .soft-skills .list-container{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    ul{
                        li{
                            color: var(--font-color-dark);
                            font-family: $--font-family-spartan;
                            font-size: 1.5em;
                            transition: color .2s ease;
                        }
                    }
                }
            }
        }
    }
    footer{
        .footer-top-separator{
            fill: $--main-color;
            position: relative;
            bottom: -5px;
        }
        .footer-container{
            padding: 1.5em 0;
            background-color: $--main-color;
            h3{
                color: #ebebeb;
                font-family: $--font-family-kufam;
                text-align: center;
                font-size: 3em;
                padding-bottom: 1em;
                b{
                    color: #35163d;
                }
            }
            .footer-content{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .social-medias-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    .social-medias-svgs{
                        display: flex;
                        gap: 1em;
                        margin-bottom: 1em;
                        svg{
                            width: 2.5em;
                            height: 2.5em;
                            cursor: pointer;
                            fill: #ebebeb;
                            transition: fill .2s ease;
                            &:hover{
                                fill: #d7cddb87;
                            }
                        }
                    }
                    .cv-downloader{
                        a{
                            text-decoration: none;
                            width: 13em;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 4em;
                            color: #ebebeb;
                            font-family: $--font-family-kufam;
                            border-radius: 5px;
                            background-color: $--main-color-darker;
                            transition: background .2s ease;
                            &:after{
                                content: '\2B73';
                                margin-left: .5em;
                                font-weight: bolder;
                            }
                            &:hover{
                                background-color: rgba($--main-color-darker, 0.8);
                            }
                        }
                    }
                }
                .form-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 70%;
                    form{
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: .5em;

                        label{
                            font-family: $--font-family-kufam;
                            color: #ebebeb;
                            font-size: 1.5em;
                            width: 100%;
                        }

                        input{
                            height: 2em;
                        }
    
                        textarea{
                            height: 10em;
                            resize: none;
                        }
    
                        input,
                        textarea{
                            border: none;
                            outline: none;
                            width: 100%;
                            background-color: #00000035;
                            padding: .5em 1em;
                            border-radius: 5px;
                            font-family: $--font-family-spartan;
                            color: #ebebeb;
                            font-size: 1.2em;
                            transition: background .2s ease;
                            &:focus{
                                background-color: #1c1c1c76;
                            }
                        }

                        button{
                            outline: none;
                            border: none;
                            width: 50%;
                            height: 2em;
                            color: #ebebeb;
                            font-family: $--font-family-kufam;
                            border-radius: 5px;
                            background-color: $--main-color-darker;
                            transition: background .2s ease;
                            &:after{
                                content: '\2B73';
                                margin-left: .5em;
                                font-weight: bolder;
                            }
                            &:hover{
                                background-color: rgba($--main-color-darker, 0.8);
                            }
                        }
                    }
                }
            }
        }
        .footer-copy{
            background-color: $--main-color;
            display: flex;
            justify-content: center;
            text-align: center;
            h4{
                width: 80%;
                margin: 0;
                padding: 1em 0;
                border-top: 1px solid rgba($--main-color-darker, 0.8);
                color: #ebebeb;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body{
        .menu{
            height: 100vh;
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            left: -1000px;
            z-index: 999;
            background-color: rgb(0 0 0 / 68%);
            transition: transform .2s ease;
            .close-menu{
                position: absolute;
                bottom: 20px;
                height: 2em;
                width: 2em;
                color: #fff;
            }
            .menu-list{
                flex-direction: column;
                text-align: center;
                li{
                    text-shadow: 0px 0px 5px #000000;
                    a{
                        color: #ebebeb;
                    }
                }
                @for $i from 2 through 5{
                    li:nth-child(#{$i}){
                        list-style: none;
                    }
                }      
            }
        }
        .menu-active{
            transform: translateX(1000px);
        }

        .menu-small{
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 99;
            padding: 1em 0;
            backdrop-filter: blur(5px);
            background-color: rgba(var(--background), 0.1);
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            transition: background .2s ease;
            div{
                width: calc(100% / 3);
                svg{
                    width: 3em;
                    height: 3em;
                    fill: var(--font-color-dark);
                    transition: fill .2s ease;
                    &:first-of-type,
                    &:nth-of-type(2){
                        width: 2em;
                        height: 2em;
                    }
                }
            }
            .lenguage-changer{
                span{
                    font-weight: bolder;
                    color: var(--font-color-dark);
                    transition: color .2s ease;
                }
                .check{
                    position: relative;
                    width: 2em;
                    &::before{
                        content: "";
                        cursor: pointer;
                        position: absolute;
                        width: 2em;
                        height: 1em;
                        background-color: #a514c9;
                        border-radius: 25px;
                        transition: all .2s ease;
                    }
                    &::after{
                        content: "";
                        cursor: pointer;
                        position: absolute;
                        width: 1em;
                        height: 1em;
                        background-color: #fff;
                        border-radius: 25px;
                        transition: all .2s ease;
                        border: 1px solid #333;
                        box-sizing: border-box;
                    }
                    &:checked::before{
                        background-color: #a514c9;
                    }
                    &:checked::after{
                        content: "";
                        transform: translateX(1em);
                        border: 1px solid #333;
                    }
                }
            }
        }

        .banner{
            margin-top: -1em;
            .name-position-container{
                h1{
                    font-size: 9vw;
                    b{
                        font-size: calc(2rem + 2vw);
                    }
                }
            }
        }

        main{
            .projects-section{
                .projects-section-top,
                .projects-section-bottom{
                    justify-content: center;
                    a{
                        width: 90%!important;
                        margin-bottom: 2em;
                        &:last-of-type{
                            margin-bottom: 1em;
                        }
                    }
                }
            }

            .main-content{
                .about-container{
                    .about-info{
                        .about-text-container{
                            p{
                                width: 90%;
                            }
                        }
                    }
                }
            }

            .skills-section{
                .skills-title{
                    font-size: calc(1rem + 4vw);
                    padding: 1em 0.5em;
                }
                .skills-container{
                    flex-direction: column;
                    justify-content: center;
                    .hard-skills,
                    .soft-skills{
                        width: 100%;
                        h4{
                            font-size: calc(.6rem + 3vw);
                        }
                    }
                    .hard-skills .list-container,
                    .soft-skills .list-container{
                        ul{
                            width: 14em;
                            li{
                                font-size: 1.1em;
                            }
                        }
                        justify-content: space-around;
                    }
                }
            }
        }
        footer{
            .contact-title{
                font-size: calc(1.6rem + .6vw)!important;
            }
            .footer-top-separator{
                fill: $--main-color;
                position: relative;
                bottom: -5px;
            }
            .footer-container{
                padding: 1.5em 0;
                background-color: $--main-color;
                h3{
                    color: #ebebeb;
                    font-family: $--font-family-kufam;
                    text-align: center;
                    font-size: 3em;
                    padding-bottom: 1em;
                    b{
                        color: #35163d;
                    }
                }
                .footer-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                    .form-container{
                        width: 100%;
                        margin-bottom: 3em;
                    }
                }
            }
        }
    }
}
